@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 등록 - woff2 우선, 필요시 woff 백업 추가 */
@font-face {
  font-family: "Pretendard";
  src:
    url("./fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;  /* variable */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoreanSWGIG1";
  src:
    url("./fonts/KoreanSWGIG1.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoreanSWGIG2";
  src:
    url("./fonts/KoreanSWGIG2.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoreanSWGIG3";
  src:
    url("./fonts/KoreanSWGIG3.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoreanSWGIG4";
  src:
    url("./fonts/KoreanSWGIG4.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* base */
@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard", sans-serif;
  }
  button, input, textarea, select { font: inherit; }
}
