/* src/styles/global.css */

/* 폰트 등록 */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'KoreanSWGIG1';
  src: url('../assets/fonts/KoreanSWGIG1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KoreanSWGIG2';
  src: url('../assets/fonts/KoreanSWGIG2.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KoreanSWGIG3';
  src: url('../assets/fonts/KoreanSWGIG3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KoreanSWGIG4';
  src: url('../assets/fonts/KoreanSWGIG4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* 전체 적용 */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}
