/* index.css */
@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoreanSWGIG3";
  src: url("/fonts/KoreanSWGIG3.woff2") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* base */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard", sans-serif;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
